.inputBox {
  position: relative;
  width: 100%;
}

/* Input field styling */
.inputBox input,
.inputBox select {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 35px 7.5px 10px; /* Adjusted padding to make room for the icon */
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

/* Label styling */
.inputBox i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  color: #aaa;
  transition: 0.5s ease;
  pointer-events: none;
}

/* Label adjustment on input focus and when text is present */
.inputBox input:focus ~ i,
.inputBox input:not(:placeholder-shown) ~ i {
  top: 5px;
  transform: translateY(0);
  font-size: 0.75em;
  color: #fff;
}

/* Icon styling */
.inputBox .password-icon {
  position: absolute;
  right: 10px; /* Align icon to the right */
  top: 50%; /* Vertically center the icon */
  transform: translateY(-50%);
  color: #aaa; /* Grey color for the icon */
  font-size: 1.5em; /* Adjust the size of the icon */
  cursor: pointer; /* Change cursor to pointer to indicate interactivity */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Icon color change on hover */
.inputBox .password-icon:hover {
  color: #fff; /* Change color to white on hover */
}

.styledSelectBox {
  position: relative;
  width: 100%;
}

/* Select field styling */
.styledSelectBox select {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 15px 35px 15px 10px; /* Symmetrical top and bottom padding */
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5; /* Adjust line-height for better vertical alignment */
  appearance: none; /* Hide the default dropdown arrow */
  -webkit-appearance: none; /* Hide the default dropdown arrow for Safari */
  -moz-appearance: none; /* Hide the default dropdown arrow for Firefox */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

/* Label styling */
.styledSelectBox i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  color: #aaa;
  transition: 0.5s ease;
  pointer-events: none;
}

/* Custom arrow icon */
.styledSelectBox::after {
  content: "▼"; /* Unicode character for down arrow */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.5s ease;
}

.langField {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 35px 15px 10px; /* Adjusted padding to make room for the icon */
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.scrollable-div {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d7f64e #222; 
}

/* WebKit browsers (Chrome, Safari) */
.scrollable-div::-webkit-scrollbar {
  width: 4px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #d7f64e;
  border-radius: 7px;
}

.scrollable-div::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 7px;
}
